@*@model qlTiecCuoi.Models.SanhTiec*@
@if (ViewBag.sanh != null)
{
    <div ailgn="center">
        <img src="~/Content/assets/images/sanh/@ViewBag.sanh.HinhAnh" style="width:500px; height:500px;" />
    </div>
    <table class="table">
        <tr>
            <th>Tên sảnh</th>
            <th>Số lượng bàn tối đa</th>
            <th>Đơn giá</th>
            <th>Ghi chú</th>
        </tr>
        <tr>
            <td>
                @ViewBag.sanh.TenSanh
            </td>
            <td>
                @ViewBag.sanh.DonGia
            </td>
            <td>
                @ViewBag.sanh.SoLuongBan
            </td>
            <td>
                @ViewBag.sanh.GhiChu
            </td>
        </tr>
    </table>
}
