.bg__top {    
    width: 100%;
    height: 110vh;
    background-image: url("./assets/images/bg-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
}
