
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bgTop {
    @Html.Partial("_BgTop")
}

<link href="~/Content/Myfolder/css/my_css.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col__one">
            <h1 id="title">Giới thiệu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col__one">
            <div class="element_1">
                <div><img src="~/Content/Myfolder/images/about/about-1.jpg" alt="image" /></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="element_2">
                <div>Chương trình "Cưới theo cách bạn yêu"</div>
                <div id="btn"><a href="#">Khám phá</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col__one">
            <div class="element_2">
                <div>Mang sắc xanh vào sảnh</div>
                <div style="font-family:'Times New Roman', Times, serif;"><b>Xích lại gần nhau hơn</b></div>
                <div id="btn"><a href="#">Khám phá</a></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="element_1">
                <div><img src="~/Content/Myfolder/images/about/about-2.jpg" alt="image" /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col__one">
            <div class="element_1">
                <div><img src="~/Content/Myfolder/images/about/about-3.jpg" alt="image" /></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="element_2">
                <div>Câu chuyện thương hiệu</div>
                <br />
                <div id="btn"><a href="#">Khám phá</a></div>
            </div>
        </div>
    </div>
</div>
