@{
    ViewBag.Title = "Website Quản Lý Tiệc Cưới";
}

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis quis purus ac semper. Quisque mollis massa
    a hendrerit elementum. Vivamus fermentum tristique neque eu tincidunt. Vestibulum et est sit amet odio hendrerit 
    egestas sed vel metus. Sed eget cursus quam, sit amet egestas eros. Vestibulum volutpat, ex sit amet sodales iaculis,
    quam ex rhoncus magna, vel auctor nunc ante sed turpis. Fusce vel tellus urna. Phasellus cursus varius mi. Nullam at
    lacinia dui. Duis vitae velit nisl. Pellentesque quis metus vulputate, tempus nibh gravida, malesuada urna.

    Nunc at faucibus purus. Nulla sit amet tortor lorem. Etiam molestie dictum quam, ut semper ipsum laoreet ut. 
    Phasellus vitae lorem dui. Nullam tempor placerat turpis, at blandit eros fringilla sed. Donec dapibus nec nisl 
    nec bibendum. Curabitur tristique, erat in volutpat semper, enim enim euismod quam, volutpat viverra nulla est 
    non ipsum. Integer dictum quam nec varius rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos.

    Etiam semper nisi ut pretium laoreet. Vestibulum ut pretium felis, a egestas tortor. Phasellus faucibus elit eu
    gravida sagittis. Quisque finibus enim sit amet lorem porta interdum. Vestibulum facilisis imperdiet nulla, id 
    suscipit odio ornare in. Nulla facilisi. Nullam vel mauris lorem. In tempor metus quam, vitae porta ligula ultricies
    et. Maecenas porta consectetur ipsum. Aenean neque risus, laoreet eu mi eget, cursus volutpat dui. Morbi imperdiet 
    luctus augue, ac ornare libero convallis vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Proin at diam vitae lacus bibendum dignissim. Maecenas aliquam lectus ac ornare convallis.
    Mauris dapibus augue at luctus cursus. Mauris malesuada ultrices enim at efficitur.

    Donec ultricies luctus cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Donec volutpat et elit in placerat. Nullam placerat placerat elit, eu facilisis mauris mattis auctor. Pellentesque et 
    dignissim mauris, in suscipit tortor. Vivamus vulputate pulvinar ex, quis porta metus faucibus id. Sed hendrerit quam 
    a sapien vestibulum mollis.

    Pellentesque rhoncus fermentum leo ac vehicula. Vestibulum in condimentum orci, euismod euismod lacus. Suspendisse 
    sodales ut dui ac dignissim. Phasellus a purus risus. Praesent auctor consequat dapibus. Proin sed venenatis quam, 
    sed vulputate felis. Nullam imperdiet dapibus odio ac placerat. Donec eget tempor magna, a maximus est. Nullam aliquet
    ultricies libero eu suscipit. Quisque quis augue magna. Duis at est eget sapien placerat pellentesque. Vestibulum a 
    pellentesque sapien.
</div>