@{
    ViewBag.Title = "Website Quản Lý Tiệc Cưới";
}

@section bgTop {
    @Html.Partial("_BgTop")
}  

<!-- ==== Giới thiệu ==== -->
<section class="homePage__section section homePage__section--about">
    <div class="container">
        <div class="section__home section__home--padding">
            <div class="section__home--content">
                <h1>Đám Cưới Độc Nhất Chỉ Có Tại Anonymous Palace!</h1>
                <h3>CƯỚI KHÁC BIỆT MÀ TIẾT KIỆM!</h3>
                <p>
                    Hai bạn đều ao ước tổ chức được một đám cưới theo đúng chất riêng của mình nhưng còn e ngại chi phí cao?
                    Hãy tin tưởng đồng hành cùng trung tâm tiệc cưới Aqua Palace! Chẳng cần wedding planner, chỉ từ 5 đến 5 triệu,
                    Aqua Palace sẽ biến đám cưới của bạn trở thành ĐÁM CƯỚI ĐỘC NHẤT với trọn gói TRANG TRÍ KHÁC BIỆT và KỊCH BẢN
                    CƯỚI SÁNG TẠO theo chính câu chuyện tình yêu của hai bạn!
                </p>
            </div>
            <div class="section__home--carousel">
                <div class="owl-carousel owl-theme owl-loaded section__about--carousel">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <img src="~/Content/assets/images/ocean-wedding/img-1.png" alt="" title="" />
                            </div>
                            <div class="owl-item">
                                <img src="~/Content/assets/images/ocean-wedding/img-2.png" alt="" title="" />
                            </div>
                            <div class="owl-item">
                                <img src="~/Content/assets/images/ocean-wedding/img-8.png" alt="" title="" />
                            </div>
                            <div class="owl-item">
                                <img src="~/Content/assets/images/ocean-wedding/img-10.png" alt="" title="" />
                            </div>
                            <div class="owl-item">
                                <img src="~/Content/assets/images/ocean-wedding/img-4.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==== Dịch vụ cưới ==== -->
<section class="homePage__section section homePage__section--service">
    <div class="container">
        <div class="section__home">
            <div class="section__home--content">
                <h1>Dịch Vụ Cưới</h1>
            </div>
            <div class="section__home--service">
                <div class="service__item">
                    <a href="/Wedding/Service">
                        <img src="~/Content/assets/images/trangtritieccuoi.jpg" title="" alt="" />
                    </a>
                    <h1>Trang Trí</h1>
                </div>
                <div class="service__item">
                    <a href="/Wedding/Service">
                        <img src="~/Content/assets/images/thucantieccuoi.jpg" title="" alt="" />
                    </a>
                    <h1>Thực Đơn</h1>
                </div>
                <div class="service__item">
                    <a href="/Wedding/Service">
                        <img src="~/Content/assets/images/nghithuctieccuoi.jpg" title="" alt="" />
                    </a>
                    <h1>Nghi Thức Lễ</h1>
                </div>
                <div class="service__item">
                    <a href="/Wedding/Service">
                        <img src="~/Content/assets/images/sanhtieccuoi.jpg" title="" alt="" />
                    </a>
                    <h1>Sảnh Tiệc</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==== Ưu Đãi ==== -->
<section class="homePage__section section homePage__section--sale">
    <div class="container">
        <div class="section__home section__home--padding">
            <div class="section__home--content">
                <h1>Ưu Đãi</h1>
                <h3>TRỌN GÓI ƯU ĐÃI, KHÔNG LO PHÁT SINH</h3>
                <p>Với không giản sảnh cưới gần gũi với thiên nhiên có sức chứa từ 15 đến 60 bàn tiệc, 
                thực đơn 7-9 món ngon vị Việt và phong cách phục vụ Omotenashi,Chúng tôi sẽ giúp bạn sở hữu 
                ĐÁM CƯỚI VỪA LÒNG TRĂM HỌ nhưng với GIÁ ƯU ĐÃI TRỌN GÓI không lo phát sinh chi phí!</p>
            </div>
            <div class="section__home--sale">
                <div class="sale__banner">
                    <img src="~/Content/assets/images/uudai.jpg" title="" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==== Nhận báo giá ==== -->
<section class="homePage__section section homePage__section--Contact">
    <div class="container">
        <div classs="section__home section__home--padding">
            <div class="section__home--content">
                <h1>Nhận Báo Giá</h1>
                <p>Cưới khác biệt mà tiết kiệm chỉ có tại trung tâm tiệc cưới Aqua Palace!</p>
                <p>Hãy để lại thông tin bên dưới để nhận tư vấn đặt tiệc từ Aqua Palace nhé!</p>
            </div>
            <div class="section__home--form">
                @using (Html.BeginForm("Contact"))
                {
                    <div class="form__home">
                        <div class="form__group">
                            <div>
                                <label>Họ Tên</label>
                            </div>
                            <div>
                                <input type="text" />
                            </div>
                        </div>
                        <div class="form__group">
                            <div>
                                <label>Email</label>
                            </div>
                            <div>
                                <input type="text" />
                            </div>
                        </div>
                        <div class="form__group">
                            <div>
                                <label>Số Điện Thoại</label>
                            </div>
                            <div>
                                <input type="text" />
                            </div>
                        </div>
                        <div class="form__group">
                            <div>
                                <label>Ngày Đặt Tiệc</label>
                            </div>
                            <div>
                                <input type="date" />
                            </div>
                        </div>
                        <div class="form__group">
                            <div>
                                <label></label>
                            </div>
                            <div>
                                <textarea spellcheck="false" rows="5" id="contact-content"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit">GỬI</button>
                }
            </div>
        </div>
    </div>
</section>