@model qlTiecCuoi.Models.SanhTiec
@Html.DropDownListFor(Model => Model.IDSanh, new SelectList(Model.danhsachsanh, "IDSanh", "TenSanh", "__select__"), new { style = "width: 493px; height: 40px; border-radius: 5px; border:1px solid #ccc; ", @class="form-control" })
@*<a style="margin-left:50px; margin-top:-5px;" class=" btn btn-primary" href="@Url.Action("thongtinsanh","SanhTiecs")">Xem chi tiết</a>*@
