*, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

a,
a:hover {
  text-decoration: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.header__nav--brand {
  margin-right: 70px; }
  .header__nav--brand img {
    width: 60px;
    object-fit: cover; }

.header__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__nav a {
    color: #002a66;
    font-weight: bold;
    padding: 10px; }

.header__nav--item {
  position: relative; }

.header__nav--tiecCuoi {
  /*&::after {
        content: "\";
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
    }*/ }

.bg__top {
  width: 100%;
  height: 110vh;
  background-image: url("assets/images/bg-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px; }
