#title {
    text-align: center;
    display: block;
    color: #002a66;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
} 
/*About*/
.elenment_1 > div > img {
    background-size: cover !important;
    background: no-repeat;
}

.element_2 {
    text-align: center;
    display: block;
    color: #002a66;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    margin: 250px 0;    
}

    .element_2 > div:not(#btn) {
        font-size: 35px;
    }

#btn {
    color: white;
    font-family: 'Times New Roman';
    font-size: 15px;
}

    #btn > a {
        width: 120px;
        line-height: 35px;
        color: white;
        display: inline-block;
        background-color: #002a66;
        border-radius: 15px;
    }
/*Sub About 1*/
.text {
    padding: 1% 5% 1% 5%;
}

    .text p, strong {
        color: #002a66;
        padding-bottom: 0.5em;
        font-size: 18px;
    }

    .text ul {
        list-style-type: decimal;
        padding-left: 20px;
    }

  
/*Thuc don*/
.imageFood img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.form-control {
    width: 450px;
    max-width: 450px;
    border: 2px solid #002a66
}

.btn {
    border-radius: 50px;
}

.btn-primary {
    background-color: #002a66;
    border-color: #002a66;
}

    .btn-primary:hover {
        background-color: #002a66;
        border-color: #002a66;
    }
