
@{
    ViewBag.Title = "Đặt tiệc cưới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bgTop {
    @Html.Partial("_BgTop")
}

<section class="homePage__section section homePage__section--book book">
    <div class="container">
        <div classs="section__home book__home">
            <div class="section__home--content">
                <h1>Đặt Tiệc</h1>
                <h3>QUÝ KHÁCH VUI LÒNG BẤM VÀO NÚT ĐẶT TIỆC BÊN DƯỚI!</h3>
            </div>
            <div class="book__tabs">
                <form>
                    <div class="tabs">
                        <ol class="tabs__direction">
                            <li>
                                <button type="button" class="active__direction" data-target="tab-personal">Thông Tin Cá Nhân</button>
                            </li>
                            <li>
                                <button type="button" data-target="tab-food">Thông Tin Thực Đơn</button>
                            </li>
                            <li>
                                <button type="button" data-target="tab-service">Thông Tin Dịch Vụ</button>
                            </li>
                        </ol>
                        <div class="tabs__content">
                            <div class="tabs__item active__tabs" id="tab-personal">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12">
                                                            <label for="tenchure">Tên chú rễ: </label>
                                                            <input class="form-control" type="text" name="tenchure" id="tenchure" />
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12">
                                                            <label for="tencodau">Tên cô dâu: </label>
                                                            <input class="form-control" type="text" name="tencodau" id="tencodau" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-12">
                                                            <label for="sdt">Số điện thoại: </label>
                                                            <input class="form-control" type="text" name="sdt" id="sdt" />
                                                        </div>
                                                        <div class="col-lg-4 col-sm-12">
                                                            <label for="ngay">Ngày: </label>
                                                            <input class="form-control" type="date" name="ngay" id="ngay" />
                                                        </div>
                                                        <div class="col-lg-4 col-sm-12">
                                                            <label for="ca">Ca: </label>
                                                            <select class="form-control" name="ca" id="ca">
                                                                <option selected>---- Ca ----</option>
                                                                <option value="trua">Trưa</option>
                                                                <option value="toi">Tối</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12">
                                                            <label for="slban">Số lượng bàn: </label>
                                                            <input class="form-control" type="number" name="slban" form="slban" />
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12">
                                                            <label for="slbandutru">Số lượng bàn dự trữ: </label>
                                                            <input class="form-control" type="number" name="slbandutru" form="slbandutru" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__item" id="tab-food">
                                b
                            </div>
                            <div class="tabs__item" id="tab-service">
                                Service massage
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ==== Script ==== -->
<script src="~/Content/scripts/book.js"></script>