
@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bgTop {
    @Html.Partial("_BgTop")
}
<link href="~/Content/Myfolder/css/my_css.css" rel="stylesheet" />
<body>
    <div class="container-fluid">
        <h1 id="title">Thực đơn</h1>
        <div class="imageFood">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/1.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/2.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/3.jpg" alt="imageFood1" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/4.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/5.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/6.jpg" alt="imageFood1" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/7.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/8.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/9.jpg" alt="imageFood1" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/10.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/11.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/12.jpg" alt="imageFood1" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/13.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/14.jpg" alt="imageFood1" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#"><img src="~/Content/Myfolder/images/food/15.jpg" alt="imageFood1" /></a>
                </div>
            </div>
        </div>
    </div>
</body>