@model IEnumerable<qlTiecCuoi.Models.MonAn>
@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bgTop {
    @Html.Partial("_BgTop")
}
<head>
    <link href="~/Content/Myfolder/css/my_css.css" rel="stylesheet" />
    <style>
        .card {
            text-align: center;
            margin-top: 20px;
            /*width: 250px;*/
            height: auto;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
            border-radius: 5px;
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
            }

        #name {
            font-weight: bold;
        }

        #price {
            display: inline!important;
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 id="title">Thực đơn</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="name">@Html.DisplayFor(Model => item.TenMon)</div>
                            <img src="~/Content/Myfolder/images/food/@Url.Content(item.HinhAnh)" style="margin: 10px 0; width: 100%; object-fit: cover;" />
                            <b>Price: <i style="color:red;">@Html.DisplayFor(Model => item.Gia)</i></b>
                        <div>
                            <a href="/ChonMonAn/AddtoList/@item.IDMonAn"><input type="submit" class="btn btn-primary" value="Thêm" style="width:120px; height:40px; margin:5px auto;" /></a>
                        </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <br />
</body>